<form class="mt-3 ml-3 mr-3" [formGroup]="frmPublicar" (ngSubmit)="publicar()">
    <div class="form-row">
        <div class="form-group col-12">
            <label for="titulo">Título</label>
            <input id="titulo"
                   [ngClass]="{ 'is-invalid': (frmPublicar.controls['titulo'].errors?.minlength || frmPublicar.controls['titulo'].errors?.required) && frmPublicar.controls['titulo'].touched }"
                   formControlName="titulo"
                   type="text" class="form-control" placeholder="Introduzca un título para su entrada">
            <div *ngIf="frmPublicar.controls['titulo'].errors?.required && frmPublicar.controls['titulo'].touched" class="invalid-feedback d-block">
                Este campo es requerido
            </div>
            <div *ngIf="frmPublicar.controls['titulo'].errors?.minlength" class="invalid-feedback d-block">
                Este campo requiere por lo menos {{ frmPublicar.controls['titulo'].errors?.minlength?.requiredLength }} caracteres
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="etiquetas">Etiquetas</label>
        <input id="etiquetas"
               [ngClass]="{ 'is-invalid': (frmPublicar.controls['etiquetas'].errors?.minlength || frmPublicar.controls['etiquetas'].errors?.required) && frmPublicar.controls['etiquetas'].touched }"
               formControlName="etiquetas"
               type="text" class="form-control" placeholder="Entroduzca etiquetas relacionadas con su entrada, separadas por coma">
        <div *ngIf="frmPublicar.controls['etiquetas'].errors?.required && frmPublicar.controls['etiquetas'].touched" class="invalid-feedback d-block">
            Este campo es requerido
        </div>
        <div *ngIf="frmPublicar.controls['etiquetas'].errors?.minlength" class="invalid-feedback d-block">
            Este campo requiere por lo menos {{ frmPublicar.controls['etiquetas'].errors?.minlength?.requiredLength }} caracteres
        </div>
    </div>
    <div class="form-group">
        <label for="url">URL de imagen</label>
        <input id="url"
               [ngClass]="{ 'is-invalid': (frmPublicar.controls['url'].errors?.required) && frmPublicar.controls['url'].touched }"
               formControlName="url"
               type="text" class="form-control" placeholder="Introduzca una url para asociar una imagen a esta entrada">
        <div *ngIf="frmPublicar.controls['url'].errors?.required && frmPublicar.controls['url'].touched" class="invalid-feedback d-block">
            Este campo es requerido
        </div>
    </div>
    <div class="form-group">
        <label for="cuerpo">Texto de su entrada</label>
        <textarea id="cuerpo"
                  [ngClass]="{ 'is-invalid': (frmPublicar.controls['cuerpo'].errors?.minlength || frmPublicar.controls['cuerpo'].errors?.required) && frmPublicar.controls['cuerpo'].touched }"
                  formControlName="cuerpo"
                  class="form-control" rows="5"></textarea>
        <div *ngIf="frmPublicar.controls['cuerpo'].errors?.required && frmPublicar.controls['cuerpo'].touched" class="invalid-feedback d-block">
            Este campo es requerido
        </div>
        <div *ngIf="frmPublicar.controls['cuerpo'].errors?.minlength" class="invalid-feedback d-block">
            Este campo requiere por lo menos {{ frmPublicar.controls['cuerpo'].errors?.minlength?.requiredLength }} caracteres
        </div>
    </div>
    <div class="alert alert-dark" role="alert" *ngIf="!env.isUserValidated">
        Es necesario que inicie sesión antes de publicar una entrada. Haga clic <a href="login">aquí</a> para iniciar sesión
    </div>
    <div class="form-group text-center" *ngIf="env.isUserValidated">
        <button class="btn btn-outline-success">Guardar</button>
        <button type="button" class="btn btn-outline-danger ml-3" (click)="cancelarCrearEntrada()">Cancelar</button>
    </div>

</form>
<div class="row" style="visibility:hidden">
    <div class="col-12 text-center">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu nisi semper, bibendum nibh id, tempor est. Proin nec suscipit ex. Aliquam molestie ultricies neque at iaculis. Nulla facilisi. Aliquam eget velit iaculis, pharetra sapien eu, sagittis neque. Maecenas faucibus malesuada massa, suscipit porttitor velit luctus sed. Nam varius vel orci a sagittis. Maecenas varius, lorem nec imperdiet accumsan, lorem justo tristique nisi, vel feugiat eros est sit amet sem. Cras purus eros, eleifend et massa non, dictum scelerisque neque. Aliquam eu malesuada augue. Vestibulum tincidunt gravida nisl, ac elementum justo semper quis. Phasellus posuere lacinia lacus non viverra. Nulla interdum turpis id lacus consectetur feugiat.
    </div>
</div>
